
$button-class-prefix: 'button' !default;

$button-primary-color: $primary-color !default;
$button-primary-bg-color: $primary-bg-color !default;
$button-secondary-color: $secondary-color !default;
$button-secondary-bg-color: $secondary-bg-color !default;

$button-shadow-color: $shadow-color !default;
$button-click-animation-time: 300ms !default;
$button-hover-animation-time: 500ms !default;
$button-font-size: 1em !default;

$button-border-radius: 2px !default;
$button-font-light: $font-weight-light !default;
$button-font-normal: $font-weight-normal !default;

$button-cursor-disabled: $cursor-disabled;
// Setup Map for Button Variants
$button-variants: (
  primary: (
    bg-color: $button-primary-bg-color,
    color: $button-primary-color
    ),
  secondary: (
    bg-color: $button-secondary-bg-color,
    color: $button-secondary-color
    )
);

// define extra Button sizes
$button-sizes: (
  small: 0.8rem,
  large: 2.4rem
);

// Calculate Button Padding depending on a arbitrary base value ;-)
@function calcPadding($factor: 2rem) {
  $base: 0.4;
  @return ($factor * $base) $factor ($factor * $base) $factor
};

// Mixin to create Button effects
@mixin buttonBackgroundAndColor($color, $focus: false) {
    $percentage: 3%;
    @if $focus {
      $percentage: 2 * $percentage;
    }
    border-color: darken($color, $percentage);
    background-color: darken($color, $percentage);
}

// Mixin to create different Buttonstyles from Map
@mixin buttonVariant($bg-color, $color) {

  color: $color;
  background-color: $bg-color;
  border-color: $bg-color;
  box-shadow: 0 2px 2px 0px rgba($button-shadow-color, 0.3);
  transition: background-color $button-hover-animation-time ease-in;
  transition: box-shadow $button-click-animation-time ease-in;

  &:hover {
    @include buttonBackgroundAndColor($bg-color);
    box-shadow: 0 2px 2px 0px rgba($button-shadow-color, 0.15);
  }

  &:focus {
    @include buttonBackgroundAndColor($bg-color, true);
    box-shadow: 0 1px 1px 0px rgba($button-shadow-color, 0.4);
  }

  &.disabled,
  &:disabled {
    cursor: $button-cursor-disabled;
    @include buttonBackgroundAndColor($bg-color);
    box-shadow: none;

    &:hover {
      @include buttonBackgroundAndColor($bg-color);
      box-shadow: none;
    }
  }
};

@mixin buttonSize($size) {
  padding: calcPadding($size);
};

%nonThemeButtons {
  background-color: transparent;
}

// Basic Button Styles
button, .#{$button-class-prefix} {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: $button-font-light;
  font-size: $button-font-size;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: $button-border-radius;
  margin: 0 0 1.2rem;
  padding: calcPadding(); // TODO: Improve this to use ruleset for padding behavior
  &:focus {
    outline-color: transparent;
    outline-offset: -1px;
    outline-width: 1px;
    outline-style: solid;
  }

  &.disabled,
  &:disabled {
    cursor: $button-cursor-disabled;
    opacity: 0.6;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }

  // Special Button Variants
  &.hollow {
    color: $button-primary-bg-color;
    border-color: $button-primary-bg-color;
    @extend %nonThemeButtons;
  }

  &.link {
    color: $button-primary-bg-color;
    border-color: transparent;
    text-decoration: underline;
    @extend %nonThemeButtons;
  }
}

// Create Button Style for each Variant
@each $button-variant, $map in $button-variants {
  $bg-color: map-get($map, bg-color);
  $color: map-get($map, color);
  .#{$button-variant} {
    @include buttonVariant($bg-color, $color);
  }
}

// Create different Button sizes
@each $button-name, $button-size in $button-sizes {
  .#{$button-name} {
    @include buttonSize($button-size);
  }
}
