
// Theme Colors
$primary-color: #fff;
$primary-bg-color: #00A0DD;
$secondary-color: #54595B;
$secondary-bg-color: #F7F9FA;


// Descriptive Color variables
$lightgrey: rgb(252, 253, 255);
$softgrey: rgb(243, 246, 247);
$mediumgrey: rgb(109, 112, 113);
$darkgrey: rgb(52, 56, 57);

// Shadow
$shadow-color: $darkgrey;


// Functional Colors variables
$primary-area-color: $lightgrey;
$primary-text-color: $mediumgrey;


$cursor-disabled: not-allowed;
