$theme-font-sans-serif: 'Roboto';

$font-size-base: 14px;

$font-weight-light: 300;
$font-weight-normal: 400;

body {
  font-family: $theme-font-sans-serif, sans-serif;
  font-weight: $font-weight-normal;
}
