body {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

button.hollow, .button.hollow, button.link, .button.link {
  background-color: transparent; }

button, .button {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 300;
  font-size: 1em;
  line-height: normal;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2px;
  margin: 0 0 1.2rem;
  padding: 0.8rem 2rem 0.8rem 2rem; }
  button:focus, .button:focus {
    outline-color: transparent;
    outline-offset: -1px;
    outline-width: 1px;
    outline-style: solid; }
  button.disabled, button:disabled, .button.disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    box-shadow: none; }
    button.disabled:hover, button:disabled:hover, .button.disabled:hover, .button:disabled:hover {
      box-shadow: none; }
  button.hollow, .button.hollow {
    color: #00A0DD;
    border-color: #00A0DD; }
  button.link, .button.link {
    color: #00A0DD;
    border-color: transparent;
    text-decoration: underline; }

.primary {
  color: #fff;
  background-color: #00A0DD;
  border-color: #00A0DD;
  box-shadow: 0 2px 2px 0px rgba(52, 56, 57, 0.3);
  transition: background-color 500ms ease-in;
  transition: box-shadow 300ms ease-in; }
  .primary:hover {
    border-color: #0095ce;
    background-color: #0095ce;
    box-shadow: 0 2px 2px 0px rgba(52, 56, 57, 0.15); }
  .primary:focus {
    border-color: #008abe;
    background-color: #008abe;
    box-shadow: 0 1px 1px 0px rgba(52, 56, 57, 0.4); }
  .primary.disabled, .primary:disabled {
    cursor: not-allowed;
    border-color: #0095ce;
    background-color: #0095ce;
    box-shadow: none; }
    .primary.disabled:hover, .primary:disabled:hover {
      border-color: #0095ce;
      background-color: #0095ce;
      box-shadow: none; }

.secondary {
  color: #54595B;
  background-color: #F7F9FA;
  border-color: #F7F9FA;
  box-shadow: 0 2px 2px 0px rgba(52, 56, 57, 0.3);
  transition: background-color 500ms ease-in;
  transition: box-shadow 300ms ease-in; }
  .secondary:hover {
    border-color: #eef2f4;
    background-color: #eef2f4;
    box-shadow: 0 2px 2px 0px rgba(52, 56, 57, 0.15); }
  .secondary:focus {
    border-color: #e4ebee;
    background-color: #e4ebee;
    box-shadow: 0 1px 1px 0px rgba(52, 56, 57, 0.4); }
  .secondary.disabled, .secondary:disabled {
    cursor: not-allowed;
    border-color: #eef2f4;
    background-color: #eef2f4;
    box-shadow: none; }
    .secondary.disabled:hover, .secondary:disabled:hover {
      border-color: #eef2f4;
      background-color: #eef2f4;
      box-shadow: none; }

.small {
  padding: 0.32rem 0.8rem 0.32rem 0.8rem; }

.large {
  padding: 0.96rem 2.4rem 0.96rem 2.4rem; }

/*# sourceMappingURL=style.css.map */
